.CommunityCard{
    height:130px;
    margin:5px;
    border: 3px dashed   gray;
}

.CommunityCard > img {
    width:100%;
    height:100%;
}

.FeedCard{
    height:130px;
    margin:5px;
    border: 3px  double  gray;
}

.FeedCard > img {
    width:100%;
    height:100%;
}


.MarketPlaceCard{
    height:130px;
    margin:5px;
    border: 3px dotted  gray;
}

.MarketPlaceCard > img {
    width:100%;
    height:100%;
}