.CommunityCard{
    height:80px;

}

.FeedCard{
    height:80px;

}


.MarketPlaceCard{
    height:80px;

}

div > span {
    position:relative;
    font-size: x-small;

}

div > img {
    width:90%;
    height:100%;
    border: 1px dashed  gray;
}
