.CommunityCard{
    height:130px;
    background-color: lightpink;
    margin:5px;
}

.FeedCard{
    height:130px;
    background-color: lightpink;
    margin:5px;
}

.MarketPlaceCard{
    height:130px;
    background-color: lightpink;
    margin:5px;
}

.NewsCard{
    height:130px;
    background-color: lightpink;
    margin:5px;
}

.GossipCard{
    height:130px;
    background-color: lightpink;
    margin:5px;
}

.JokeCard{
    height:130px;
    background-color: lightpink;
    margin:5px;
}

.Thumbnails{
    height:130px;
    background-color: lightpink;
    margin:5px;
}